*{
    padding: 0;
    margin: 0;
}
header, main{
    width: 1150px;
    margin: auto;

}
.nav-section{
    background-color: #2D25A0;


}
.navMain{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
   
    
}
.navLink ul{
    display: flex;
    align-items: center;
}
.navLink ul li{
    list-style: none;
    margin-right: 11px;
}
.navLink ul li a{
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    color: white;
}
.navLogo button{
    background-color: brown;
    padding: 13px 23px;
    border: none;
    color: white;
    text-transform: capitalize;

}
.bannar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    
}
.bannar-rights img{
    width: 100%;
}
.bannar-left h2{
    font-size: 50px;
}
.bannar-left{
    width: 50%;
}
.bannar-rights{
    width: 50%;
}
.bannar-left button{
    padding: 13px 23px;
    color: white;
    border: none;
    background-color: brown;
    margin-top: 14px;
    text-transform: capitalize;
}
/* bannar section end here */
/* plyer sectin start here */
.player{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 60px;
}
.player img{
    width: 100%;
}

.player-box{
    box-shadow: 1px 1px 1px 1px rgb(215, 212, 212);
    padding: 30px;
}
.player-box h4{
    font-size: 25px;
}
/* player section end here */
/* higlights section start here */
.higlights-left button{
    padding: 13px 23px;
    color: white;
    border: none;
    background-color: brown;
    margin-top: 14px;
    text-transform: capitalize;
}
.higlights{
    margin-top: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.higlights-left h3{
    font-size: 50px;
    text-transform: capitalize;
}
.higlights-left p{
    margin-top: 10px;
}
.higlights-rights img{
    width: 100%;
}
/* higlights section end here */
/* footer section stat here */
.footerr{
    text-align: center;
    padding: 25px;
}
.footer-logo img{
    width: 250px;
}
.footr-con p{
    margin-top: 10px;
    text-transform: capitalize;
}
.hidden-log{
    display: none;

}




/* responsive style  */

@media screen and (max-width:576px){
    .navLink{
        display:none;
    }
    .hidden-log{
        display: block;
        color: white;
    }

    .bannar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
    
    
}


.player{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 60px;
}
.higlights{
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.bannar-left{
    width: 100%;
}
.bannar-rights{
    width: 100%;
}


}